<% content_for :site_page_title, 'Questions' %>

<% content_for :content do %>

<div class="showcase-wrapper add-question">
  <div class="showcase-content container">
    <h3 class="add-question-label">Hi Draco, what do you want to know about your team members?</h3>
    <%= simple_form_for Question.new do |f|  %>
      <div class="add-question-text input-group">
        <input type="text" class="form-control" placeholder="Write a question" name="question[content]">
        <div class="input-group-btn btn-group">
          <button class="btn btn-default">Submit</button>
        </div>
      </div>
    <% end %>
    <div class="add-question-hint">Example: What is your favorite food?</div>
  </div>
</div>

<div class="questions-container container" id="questionsList">
  <h2>Asked Questions</h2>
  <div class="search-wrapper">
    <input type="search" placeholder="Search Questions" class="form-control search">
  </div>

  <ul class="list"></ul>
</div>

<script>
  $(function() {
    window.LilButton.Questions.updateQuestionList(<%= raw @questions_data.to_json %>);
  });
</script>

<% end %>
