<footer>
  <div class="container">
    <p class="credit">Designed and built by <a href="http://www.dracoli.com" target="_blank">Draco Li</a></p>
    <p class="chrome-plugin"><a href="https://chrome.google.com/webstore/detail/little-button/ogaindnjibhbecmamiboknoaeahebfbm?hl=en-US" target="_blank">Download the Chrome plugin</a></p>
  </div>

</footer>
