$black: #2C2C2C;
$lighter-black: #4C4C4C;
$gray: #727272;

$text-white: #FFF;

$bg-gray: #F7F7F7;
$emphasis: #3D4D7C;
$emphasis-light: #D7E3F8;

$dark-red: #8A1816;

$input-border: #A7A7A7;
$divider-light: #DFDFDF;
